p.speech{
    font: message-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: blacks;
}
p.direction{
    font: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: rgb(41, 10, 213);
}
p.direction:hover{
    background-color: rgb(134, 214, 36);
    color: rgb(212, 13, 13);
}
.KAIA{
    color: rgb(100, 237, 196);

}
.SOLNESS{
    color: rgb(7, 7, 231);
}

table{
    font-size: medium;
    border: 5px red ;
    color: blue;
    text-align: center;
    padding: 12px;
    margin: 3px;
}
tr:nth-child(odd){
    background-color: violet;
}

